body {
    background-color: black;
    height: 100vh;
  }


hr {
    font-weight: 600;
    margin: 30px -20px 20px;
}

.soundtracklist {
    color: white;
    float: right;
}


.movie-poster{
    float: left;
}

#inputbar{
    border-radius: 5px;
    width: 300px;
    float: left;
    margin: 33px;

}

.search-button:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #242424;
    transition: transform 150ms;
    transform: scale(1.03);
}

#navbarlinks {
    font-size: 20px;
    margin-top: 25px;
    color: #242424;
}

